<!doctype html>
<html lang="en" ng-app="threeViewer">
<head>
    <meta charset="utf-8">
    <title>ThreeJS with AngularJS</title>
</head>
<body>
    <div ng-controller="SceneControl">
        <div>
            X-Offset <input type="number" ng-model="data.xOffset" />
            Y-Offset <input type="number" ng-model="data.yOffset" />
            <button ng-click="addModel()">Add</button>
            <button ng-click="increaseCameraZ()">Increase Camera Z</button>
            <button ng-click="decreaseCameraZ()">Decrease Camera Z</button>
        </div>
    </div>

    <!--A directive is the reusable package created with AngularJS-->
    <!--This directive wraps Three JS-->
    <div three-viewport></div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-mocks.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>

    <!--three.js-->
    <script src="js/lib/Three.js"></script>
    <script src="js/lib/Detector.js"></script>
    <script src="js/lib/OrbitControls.js"></script>
</body>
</html>
